@import '../all';

@custom-media --dark-mode (prefers-color-scheme: dark);
@custom-media --light-mode (prefers-color-scheme: light);

%default-theme {
  --light-primary-color: #a93d3d;
  --dark-primary-color: #000000;
}

%default-theme-light {
  --background-color: var(--light-primary-color);
}

%default-theme-dark {
  --background-color: var(--dark-primary-color);
}

:root {
  @extend %default-theme;

  @media (--light-mode) {
    @extend %default-theme-light;
  }

  @media (--dark-mode) {
    @extend %default-theme-dark;
  }
}

.default-theme-light {
  @extend %default-theme-light;
}

.default-theme-dark {
  @extend %default-theme-dark;
}
