@import "vendor";
@import "syntax";
@import "frontmatter";

$blockquote-border-color: #ddd;
$border-color: #eee;
$code-background-color: #f6f8fa;
$link-color: #4078c0;
$secondary-text-color: #777;
$separator-color: #e7e7e7;

blockquote {
  border-left: 4px solid $blockquote-border-color;
  color: $secondary-text-color;
  margin: 0;
  padding: 0 15px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    outline: 0;
    text-decoration: underline;
  }
}

p {
  margin-bottom: 16px;
  margin-top: 0;
}

code {
  background-color: rgba(#000, 0.04);
  border-radius: 3px;
  font-family: "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

pre {
  background-color: $code-background-color;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  margin-bottom: 16px;
  overflow: auto;
  padding: 16px;
  word-break: normal;

  > code {
    background-color: transparent;
    font-size: 100%;
  }
}

img {
  max-width: 100%;
}

ul,
ol {
  margin-bottom: 16px;
  margin-top: 0;
  padding-left: 2em;
}
